<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Node.js課題①</title>
    <meta name="description" content="Node.js課題①">
    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <!--<script defer src="./main.js"></script>-->
    Node.js
    <a href="http://localhost:3000/login">Login</a>
    <a href="http://localhost:3000/register">Register</a>
</head>

<body>
    <table>
        <tr>
            <p>Register</p>
        </tr>
        <tr>
            <form action="" method="post">
                <p>Name：<input type="text" name="email" size="40"></p>
                <p>E-Mail Address：<input type="text" name="email" size="40"></p>
                <p>Password：<input type="text" name="email" size="40"></p>
                <p>Confirm Password：<input type="text" name="email" size="40"></p>
                <p><input type="submit" value="Register"></p>
            </form>
        </tr>
    </table>
</body>

</html>